.route-ctr{
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;

}

.route-ctr section:first-child{
  margin-top: 0;
  padding-top: 0;
}

.route-ctr section:last-child{
  margin-bottom:0;
}