/* TODO Fix it so there's an explicit double column card selector rule */

.card{
  width: 33%;
  margin: 0 10px;
}

.card__header{
  width: 100%;
  margin: 0 5px;
  padding: 0;
}

.card__media{
  width: 48%;
  margin: 0 5px;
  align-self: center;
}

.card__media img{
  max-width: 100%;
  max-height: 65vh;
  height: auto;
}

.card__content{
  min-width: 50%;
  max-width: 85%;
  margin: 0 5px;
}

/* NOTE Card Modifiers */

.card--shadow{
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.card--basic{
  border: 1px solid grey;
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.card--landing{
  max-width: 250px;
  height: 250px;
  margin: 0 20px;
  transform: skew(20deg);
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card--lg-no-border{
  max-width: 70%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}