.heading{
  font-family: 'Liberation Sans', Arial sans-serif;
  width: 100%;
  padding: 10px 20px;
}

.heading--subtitle{
  margin-left: 20px;
}

.heading--main{
  width: 100vw;
  text-align: left;
  font-size: 2rem;
  margin: 0px 0 15px 0;
}


.heading--card{
  margin: 0;
}