.media--sm{
  width: 30%;
}

.media--md{
  width: 45%;
}

.media--lg{
  width: 65%;
}

.media > *{
  max-width: 100%;
  height: auto;
}

.media{
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media--video-std{
  background:rgb(226, 226, 226);
}

.media--video-std > * {
  max-width: 100%;
  height: 315px;
}

.card--landing{
  position: relative;
  top: -2rem;
  max-width: 250px;
  height: 250px;
  margin: 0 20px;
  transform: skew(20deg);
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
