#nav{
  width: 100vw;
  height: 2rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  transform: translateX(-0.5rem);
}

.nav__list{
  min-width: 18rem;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav__item{
  display: inline-block;
  margin: 0 5px;
}

.nav__item> * {
  font-family: 'Helvetica', Arial sans-serif;
  font-weight: 600;
  color: #187945;
}
