#nav{
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  transform: translateX(-0.5rem);
}

.nav__list{
  min-width: 18rem;
  margin: 15px 0;
  /* padding: 0 30px 0 0px; */
  list-style: none;
}

.nav__item{
  display: inline-block;
  margin: 0;
  padding: 10px 10px;
}

.nav__item > * {
  font-family: 'Helvetica', Arial sans-serif;
  margin: 0 10px;
  padding: 10px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #187945;
}
.nav__item:hover {
  padding: 10px 8px;
  border-right: 2px solid rgba(99, 99, 99, 0.25);
  border-left: 2px solid rgba(99, 99, 99, 0.25);
  background: rgba(166, 206, 161, 0.384);
  color: #0f4b2b;
}
.nav__item:first-child:hover {
  padding: 10px 9px;
  border-left: 0px solid rgba(99, 99, 99, 0.5);
}
.nav__item:last-child:hover {
  padding: 10px 9px;
  border-right: 1px solid rgba(99, 99, 99, 0);
}
