.section{
  width: 100%;
  min-height: 60vh;
  padding: 20px 0;
  margin: 25px 0;
}

.section--bg-light{
  background: rgb(235, 235, 235);
}

.section--bg-transparent{
  background: transparent;
}

.section--shadow{
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}


.section--one-col{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section--double-col{
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.section--double-col-rev{
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
}


.section--landing{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}