.section{
  width: 100%;
  min-height: 60vh;
  padding: 20px 0;
  margin: 25px 0;
}

.section--bg-light{
  background: rgba(120, 152, 233, 0.5);
}

.section--bg-transparent{
  background: transparent;
}

.section--shadow{
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

