.section{
  width: 100%;
  min-height: 60vh;
  padding: 20px 0;
  margin: 25px 0;
}

.section--bg-light{
  background: lightgrey;
}

.section--shadow{
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}


.section--one-col{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section--grid{
  display: grid;
}

.section--flex{
  display: flex;
}