:root{
  --shape-pos: absolute;
}

.p{
  font-family: 'Helvetica', Arial sans-serif;
}


iframe{
  border: 0
}

.heading--landing{
  text-align: center;
  transform: skew(-20deg);
}

.section--one-col{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section--double-col{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.section--double-col-rev{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
}


.section--landing{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--competition{
  background: rgba(255, 253, 160, 0.568);
  padding-bottom: 5%;
}

#competition-list{
  background: rgb(255, 255, 255);
  padding: 10px 0;
  border: 1px solid rgba(211, 211, 211, 0.2);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.heading--comp{
  font-size: 2rem;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.cntnt-list--competition{
  width: 100%;
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.cntnt-list__item{
  margin: 10px 0;
  font-size: 1.75rem;
  text-align: center;
}
.cntnt-list__item a{
  font-family: 'Helvetica', Arial sans-serif;
  text-decoration: none;
  color: #187945;
}
.cntnt-list__item a:hover{
  color: #05331a;
  font-weight: 550;
}